body {
  background-color: rgb(25, 25, 25);
  color: white;
  /* this makes the text white */
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.prompt-for-controls {
  text-decoration: underline;
  margin-bottom: 5px;
  cursor: pointer;
}

.control-div * {
  margin-top: 5px;
  font-size: 14px;
  color: white;
}

.move-icon {
  height: 50px;
}

.button {
  /*class that ensures all buttons have a pointer cursor*/
  cursor: pointer;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  /*border width, border style, border color */
  width: 120px;
  height: 120px;
  border-radius: 60px;
  /* for square to circle, should be half of width/height */
  margin-right: 10px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
}

.reset-confirmation-text {
  display: inline-block;
}

.reset-confirmation {
  background-color: white;
  border: none;
}

.hide-reset-div * {
  display: none;
}

.show-reset-div * {
  font-size: 10px;
}